input[type=phone],
input[type=email],
input[type=text] {
  padding: 8px;
  border-radius:8px;
  border: 1px solid #000;
}


.form_buy{
    margin-left: 130px;
}

.form_buy1{
    margin-top: 40px;
    margin-left: 130px;
}

form{
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 400px;
}
