.nav-catalog{
    color: #F4774C;
}

.catalog_list{
    margin: 55px 130px;
}

.people{
    margin: 40px 130px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
 }

 .rare{
    margin: 40px 130px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 100px;
 }

 .line1{
    margin: 40px 130px;
    display: flex;
    align-items: flex-start;
 }

  .line2{
    margin: 60px 130px;
    display: flex;
    align-items: flex-start;
 }

   .line3{
    margin: 60px 130px;
    display: flex;
    align-items: flex-start;
 }
