.nav-info{
    color: #F4774C;
}

.hands{
    margin: 55px 0px;
}

.more{
    font-size: 24px;
    margin-top: 64px;
    text-align: center;
}

.greetings{
    font-size: 18px;
    display: flex;
    align-items: flex-start;
}
.greet_logo{
    margin: 140px 130px;
    display: flex;
    align-items: center;
}

.greet_name{
    font-size: 3.2rem;
    margin: 0px 22px;
}

.greet_text{
    vertical-align: top;
    margin: 90px 30px;
}
